src/main/mule/objectstore.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<os:object-store name="Object_store" doc:name="Object store" doc:id="3b71d2bf-1441-42b5-97f7-bef8faab6ff8" maxEntries="1" entryTtl="1" entryTtlUnit="HOURS" expirationInterval="15"/>
	<flow name="objectstoreFlow" doc:id="63ffea52-4f91-4cc5-a393-11070797e928" >
		<http:listener doc:name="POST objectStore Listener" doc:id="84f8d69d-c8ce-4550-8b9f-f0556ed6eb10" config-ref="HTTP_Listener_config" path="${objectstore.path}"/>
		<os:store doc:name="Store" doc:id="19244b1b-5de0-48f7-8a8d-cbf1bc818473" key="sessionId" objectStore="Object_store">
			<os:value ><![CDATA[#[attributes.queryParams.sessionId]]]></os:value>
		</os:store>
		<os:retrieve doc:name="Retrieve" doc:id="dd7174a7-b83b-4ee4-900c-3ac0b82ed057" key="sessionId" objectStore="Object_store">
			<os:default-value ><![CDATA[#[payload]]]></os:default-value>
		</os:retrieve>
		<logger level="INFO" doc:name="Logger" doc:id="6beebba3-e1d4-4e66-b174-7207db07ac67" message="#[payload]"/>
	</flow>
</mule>
