src/main/mule/salesforce.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="c233d745-71f5-4d17-a007-a53ce49fa9e9" >
		<salesforce:basic-connection username="${salesforce.username}" password="${salesforce.password}" securityToken="${salesforce.token}" />
	</salesforce:sfdc-config>
	<http:listener-config name="HTTPS_Listener_config" doc:name="HTTP Listener config" doc:id="bb02554b-48c0-46cd-b7a5-857aca066b5e" >
		<http:listener-connection protocol="HTTPS" host="0.0.0.0" port="${https.port}" >
			<tls:context >
				<tls:key-store type="jks" path="mule.jks" keyPassword="password" password="password" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<flow name="accountsSalesforceFlow" doc:id="fb5771f9-ea07-4786-b808-825915830274" >
		<http:listener doc:name="GET /getAccounts" doc:id="e8c22f2f-a6ef-4bb0-b943-4023c3379f44" config-ref="HTTPS_Listener_config" path="/getAccounts"/>
		<salesforce:query doc:name="getAccountsQuery" doc:id="66edb1f7-57cc-4358-9482-9129ca7234c4" config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT Name, LastModifiedDate, BillingPostalCode,Id
FROM Account WHERE BillingState = 'California']]></salesforce:salesforce-query>
		</salesforce:query>
		<set-payload value="#[output application/json &#10;---&#10;payload]" doc:name="Set to JSON" doc:id="69ff5bcb-3d26-4084-b750-4dc2b9872d46" />
		<foreach doc:name="For Each" doc:id="c57ea422-c296-4e12-b625-394ad33c5940" >
			<logger level="INFO" doc:name="Logger" doc:id="f8f597f2-baf3-4d4f-8819-d50fd0ec8662" message="#[payload]"/>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="e64d9c66-bc51-433f-80e2-9cf9924d7c01" message="#[payload]"/>
	
</flow>
<!-- [STUDIO:"accountsSalesforceFlow1"]	<flow name="accountsSalesforceFlow1" doc:id="c45493d1-25e0-4743-8326-3c1275e9d334">
		<http:listener doc:name="Listener" doc:id="151e17cc-c6ae-4e7a-9b85-f07db1ef7644" config-ref="HTTP_Listener_config" path="/getAccounts" />
		<salesforce:query doc:name="Query" doc:id="3661a178-c1e2-4bef-b33f-7c588760de6d" config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT Name, LastModifiedDate, BillingPostalCode,Id
FROM Account WHERE BillingState = 'California']]></salesforce:salesforce-query>
		</salesforce:query>
		<set-payload value="#[output application/json &#10;&#45;&#45;-&#10;payload]" doc:name="Set Payload" doc:id="ab9facab-a615-45de-ac3a-86099641407b" />
		<parallel-foreach doc:name="Parallel For Each" doc:id="a6b9b667-36af-483c-b56a-1b6331b85fda" >
			<logger level="INFO" doc:name="Logger" doc:id="5cf03f06-75e1-40f2-823a-e149e063d835" message="#[payload]" />
		
</parallel-foreach>
		<logger level="INFO" doc:name="Logger" doc:id="f3acfb4d-faa7-4e76-a113-dc22b2defbc9" message="#[payload]"/>
	
</flow> [STUDIO] -->
	<flow name="createAccountSalesforceFlow" doc:id="b1b0190a-99ac-421b-9c4e-4f6ff1d99943">
		<http:listener doc:name="POST /createOrder" doc:id="d6df40ec-4259-4c17-a23f-9c2b5a9353a2" config-ref="HTTP_Listener_config" path="/createOrder" allowedMethods="POST" />
		<ee:transform doc:name="json to Account" doc:id="c0eb273a-9751-4ef7-b847-3c41f9ca67e3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
    Name: payload01.name,
    BillingStreet: payload01.street,
    BillingCity: (payload01.city default ""),
    BillingState: payload01.state,
    BillingPostalCode: payload01.postal,
    BillingCountry: payload01.country
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create Account" doc:id="4113dce3-eb9c-447b-b658-ac564e7dd0c4" config-ref="Salesforce_Config" type="Account">
		</salesforce:create>
	</flow>
</mule>
