src/main/mule/streaming.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:azure-data-lake-storage="http://www.mulesoft.org/schema/mule/azure-data-lake-storage" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/azure-data-lake-storage http://www.mulesoft.org/schema/mule/azure-data-lake-storage/current/mule-azure-data-lake-storage.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="1f7b03cb-b605-4410-a39e-cdbe270a02fc" >
		<file:connection workingDir="${file.directory}" />
	</file:config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="9f5eda4b-e01a-4c89-9c92-7009ee582890" >
		<email:smtp-connection host="${email.host}" port="${email.port}" user="${email.user}" password="${secure::email.password}" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
		<configuration-properties doc:name="Configuration properties" doc:id="0f045901-4cf4-4747-b6fb-5254a2c62924" file="test_email_config.yaml" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="dc15b831-2ea0-425f-aed2-79743ce63f16" file="test_email_config.yaml" key="abcdef0123456789" />
	<file:config name="Batch_File_Config" doc:name="File Config" doc:id="ccca2a18-a28f-44ee-b11b-5e05d9cb7f1a" >
		<file:connection workingDir="${batch.dir}" />
	</file:config>
<!-- [STUDIO:"streamingFlow"]	<flow name="streamingFlow" doc:id="1521bb29-ec99-4f9f-a0d5-ed262938555c" >
		<file:listener doc:name="On New or Updated File" outputMimeType="application/csv; streaming=true" doc:id="e726c7be-c23c-40d2-8db5-a8273de5afc8" config-ref="File_Config" moveToDirectory="${file.fileArchive}" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Start Logger" doc:id="3ef6b2b7-065e-4ef6-a277-3cdfb3b79085" message="Start" />
		<file:write doc:name="Write CSV to JSON" doc:id="26834475-47fb-4c95-80e2-e374f0deda55" config-ref="File_Config" path="${file.fileWrite}" >
			<file:content ><![CDATA[#[output application/json deferred=true
&#45;&#45;-
payload map (record) ->
    {
        FullName: record.lastName ++ "," ++ record.name,
        Age: record.age
    }]]]></file:content>
		</file:write>
		<logger level="INFO" doc:name="End Logger" doc:id="4d26949c-2e0e-4c3b-b835-58f02c2c3349" message="Done" />
<flow-ref doc:name="Flow Reference" doc:id="ea04904d-e6d7-4253-baba-b251c39afaaf" name="emailFlow" />
		<error-handler ref="emailErrorHandler" />
	

</flow> [STUDIO] -->
	<flow name="nonstreamingFlow" doc:id="a0747562-fd4c-4263-b993-46622e35143d" >
		<file:listener doc:name="On New or Updated File" doc:id="bddcfdf5-77ee-4dc7-b29a-c0a6594164ae" config-ref="File_Config" moveToDirectory="C:\Users\ivanf\Documents\MuleSoft\archive" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Start Logger" doc:id="19d281a4-d2c1-4e0c-8438-eefe6aa3e3b3" message="Start" />
		<file:write doc:name="Write CSV to JSON" doc:id="3dcf6f57-7946-4176-8425-dfa89dacd3f7" config-ref="File_Config" path="${file.fileWrite}" >
			<file:content ><![CDATA[#[output application/json
---
payload map (record) ->
    {
        FullName: record.lastName ++ "," ++ record.name,
        Age: record.age
    }]]]></file:content>
		</file:write>
		<logger level="INFO" doc:name="End Logger" doc:id="c2fe14fd-8fdf-48e1-b50a-16e00594bfec" message="Done" />
<flow-ref doc:name="Flow Reference" doc:id="88cc374a-7cc6-4aa8-9aca-a05c7dc1d3f6" name="emailFlow"/>
		<error-handler ref="emailErrorHandler" />
	
</flow>
	<flow name="emailFlow" doc:id="317522c9-1eef-4c79-aded-7634a4bd1cc7" >
		<try doc:name="Try" doc:id="c25db5c6-6cff-4083-b220-acae06d480ce" >
			<email:send doc:name="Send Email" doc:id="e0120baf-d337-4061-bcd0-3a10a196ecd6" config-ref="Email_SMTP" fromAddress="${email.user}" subject='#["Write process complete at: " ++ now()]' >
				<email:to-addresses >
					<email:to-address value="i.fonseca@revolentgroup.com" />
				</email:to-addresses>
				<email:body >
					<email:content ><![CDATA[Done]]></email:content>
				</email:body>
			</email:send>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="32aa85ea-bd7b-414e-83e7-cc1085bb3325" type="EMAIL:CONNECTIVITY, EMAIL:RETRY_EXHAUSTED, EMAIL:SEND" >
					<logger level="INFO" doc:name="Logger" doc:id="9267e92e-353d-4d36-bf8b-014aadc30750" message='#["Unable to send email!"]' />
					<email:send doc:name="Send Connectivity Error to Email" doc:id="74c6ba71-22bb-483f-8309-e040e55ff40f" config-ref="Email_SMTP" fromAddress="${email.user}" subject='#["Error sending mail!"]' >
						<email:to-addresses >
							<email:to-address value="i.fonseca@revolentgroup.com" />
						</email:to-addresses>
						<email:body >
							<email:content ><![CDATA[#[error.description]]]></email:content>
						</email:body>
					</email:send>
				</on-error-continue>
			</error-handler>
		</try>
	</flow>
	<error-handler name="emailErrorHandler" doc:id="b4c94454-7190-4425-a9f0-08d3ffac47e5">
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="796dd50a-a7a3-4a56-be85-455e8bb2c587" type="ANY">
			<logger level="INFO" doc:name="Logger" doc:id="310613e8-cd00-497e-a342-6dd66b1d9e57" message="#[error.description]" />
		</on-error-propagate>
	</error-handler>
	<flow name="accountBatchJobProcessingFlow" doc:id="4383810f-a890-4c3f-be13-2e694d53c000" >
		<file:listener doc:name="On New or Updated File" doc:id="5fd7ecfe-43de-43ab-aa76-d854705733cf" config-ref="Batch_File_Config" moveToDirectory="${batch.batchFileArchive}" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<batch:job jobName="accountBatch_Job" doc:id="cc384da5-698e-4de2-b1e2-5ea0c5595adb" maxFailedRecords="-1">
			<batch:process-records >
				<batch:step name="Processing_Accounts_Batch_Step" doc:id="cb79efdd-2362-42d5-9a89-732a6812b5db">
					<choice doc:name="Choice" doc:id="7fe0d8fb-59f1-41aa-8aa7-248c3946906a" >
						<when expression='#[payload[0].age == null]'>
							<raise-error doc:name="Raise error" doc:id="d92f157c-0523-4633-85a1-c2ec701660c5" type="ACCOUNT:INVALID_DATATYPE" description="Age is invaild or missing"/>
						</when>
						<when expression="#[payload[0].age as Number &lt; 18]">
							<raise-error doc:name="Raise error" doc:id="e5fb432e-6aa3-4acb-a779-8314581b59d4" type="ACCOUNT:UNDERAGE" description="Account user is under age, cannot create account"/>
						</when>
						<otherwise >
							<logger level="INFO" doc:name="CSV Records Loggers" doc:id="dced5531-4e92-4649-a7ab-f41ce4f0105b" message="#[payload[0]]" />
						</otherwise>
					</choice>
				</batch:step>
				<batch:step name="Failed_Records_Batch_Step" doc:id="a7be2e55-8c14-4fcf-a36a-9b6ae10fcc52" acceptPolicy="ONLY_FAILURES">
					<logger level="INFO" doc:name="Invalid accounts CSV logger" doc:id="39e449d1-9388-4b14-976c-d08244ed1b81" message='#[payload]' />
					<batch:aggregator doc:name="Batch Aggregator" doc:id="e63c68a1-0d2f-45d6-a1b1-079dfc0bb037" streaming="true">
						<set-payload value='#[output application/json&#10;---&#10;{&#10;    "invalid accounts" : payload&#10;}]' doc:name="Set Payload" doc:id="287900aa-71e4-422b-9adb-0b4d77b005a1" />
						<logger level="INFO" doc:name="Invalid accounts logger JSON" doc:id="01ca2ba5-82e0-4057-acdd-e151e38d6038" message='#[payload]' />
						<try doc:name="Try" doc:id="e7fcfd2f-4e3e-4d48-a827-13bfc22bcf63" >
							<email:send doc:name="Send Email" doc:id="43cb2d74-8fba-441f-9127-2b6329b16a3c" config-ref="Email_SMTP" fromAddress="${email.user}" subject='#["Unable to Process Accounts!"]' >
								<email:to-addresses >
									<email:to-address value="i.fonseca@revolentgroup.com" />
								</email:to-addresses>
								<email:body contentType="text/plain">
								</email:body>
							</email:send>
							<error-handler >
								<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="594092b1-c7e2-49d5-970f-073997e2c21d" type="EMAIL:CONNECTIVITY, EMAIL:RETRY_EXHAUSTED, EMAIL:SEND" >
									<logger level="INFO" doc:name="Logger" doc:id="41efd615-ed94-4155-877e-2e31078bcd0f" message='#["Unable to send email!"]' />
									<email:send doc:name="Send Connectivity Error to Email" doc:id="47c96f90-f99b-4ce2-b602-62d9572052ec" config-ref="Email_SMTP" fromAddress="${email.user}" subject='#["Error sending mail!"]' >
										<email:to-addresses >
											<email:to-address value="i.fonseca@revolentgroup.com" />
										</email:to-addresses>
										<email:body >
											<email:content ><![CDATA[#[error.description]]]></email:content>
										</email:body>
									</email:send>
								</on-error-continue>
							</error-handler>
						</try>
					</batch:aggregator>

				</batch:step>
			
</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="aa914a49-0aec-43c5-9d0a-2d7a2ca384ec" message="#[payload]"/>
			</batch:on-complete>
		
</batch:job>
	</flow>
</mule>
